# Logs
logs
*.log
npm-debug.log*

build/Release

node_modules/

*.tsbuildinfo

.npm

.eslintcache

.stylelintcache

# .env
# .env.development.local
# .env.test.local
# .env.production.local
# .env.local

.vscode-test
.vscode
.idea
build
dist
tmp
*.env
!example.env

3_MOCK_init.sql
2_SECRET_fill.sql
